{%extends 'base.html'%}
<!-- block content -->
{% block content %}
 {% if user.is_authenticated %}
 <div class="container">

  <div class="">
    <h1 style="font-family: 'Cookie', cursive;"><strong>Instagram</strong></h1>
    <br>

    <!-- <h2 class="text-muted">Your Feed</h2> -->
    <br>
    <a type="button" class="btn btn-primary btn-lg" href="{% url 'profile' current_user.id%}">Edit your profile</a>
  </div>

</div>



<!-- end footer -->
{% else %}
<div class="container ">

  <div class=" text-center">
    <h1><strong>Instagrame</strong></h1>

    <a type="button" class="btn btn-primary" href="/accounts/login">Sign in</a>
  </div>

</div>

<div class="container">
  <h3><a href="/accounts/register">click here to register</a></h3>

</div>

{% endif %} {% endblock %}
