{%extends 'base.html'%}
<!-- block content -->
{% block content %}
    {% if user.is_authenticated %}
          <div class="container">
            <div class="row">
                {% for image in images %}
              <div class="col-md-4">
                <a href="{%url 'detail' image.id %}"><img src="{{ image.post_image.url }}" class="img-responsive" alt=""></a>
              </div>
                {% endfor %}
            </div>
          </div>
    {% else %}
      <div class=" text-center">
        <a type="button" class="btn btn-primary" href="/accounts/login">Sign in</a>
      </div>
      <h3><a href="/accounts/register">click here to register</a></h3>
    {% endif %}
{% endblock %}
