{% extends 'base.html'%}
{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-4">
      {% if current_profile.avatar%}
        <img src="{{ current_profile.avatar.url }}" class="img-responsive img-circle profile" alt="avatar">
      {% endif %}

    </div>
    <div class="col-md-8">
      <div>
          {{current_profile.user.username}}
            {% if current_profile.user.id == request.user.id%}
              <a type="button" class="edit" href="">edit profile</a>
            {% endif%}
         <p>following <small>{{ current_profile.get_following.count}}</small> </p>
         <p>followers <small>{{current_profile.user.followed_by.all.count}}</small></p>
      </div>

      <h5> Bio : {{ current_profile.bio}}</h5>

        <h2>Following</h2>
        {% for user in current_profile.get_following %}
        <p>  <a href="{% url 'profile' user.id %}">{{ user.first_name}}</a></p>
        {% empty %}
        <h3>you are not following any user</h3>
        {% endfor %}

        <h2>Followed by</h2>
        {% for user in current_profile.user.followed_by.all %}
        <p><a href="{% url 'profile' user.id %}">{{ user.first_name}}</a></p>
        {% empty %}
        <h3>Not followed by any user</h3>
        {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col-md -4">
      {% if not current_profile.user.id == request.user.id%}
        {% if is_follow %}
        <button type="submit"name=""class=""><a href="{%url 'follow' current_profile.id %}">Unfollow</a></button>
        {% else %}
        <button type="submit"name=""class=""><a href="{%url 'follow' current_profile.id %}">Follow</a></button>
       {% endif %}
      {%endif%}
    </div>
    </div>
  </div>
</div>
{% endblock %}
